{
  "parserOptions": { "ecmaVersion": 6 },
  "extends": "airbnb-base",
    rules: {
    'no-shadow': 0,
    'no-param-reassign': 0,
    'eol-last': 0,
    'no-use-before-define': ["error", { "functions": false, "classes": false }],
    'no-plusplus': [2, { allowForLoopAfterthoughts: true }],
    'no-restricted-syntax': ["error", "FunctionExpression", "WithStatement", "BinaryExpression[operator='in']"],
    'comma-dangle': ["error", "always-multiline"],
  }
}
